* {
    padding: 0;
    margin: 0;
}

:root {
    --primary: #121f3d;
    --white: #fff;
    --gray: #2a324b;
  }

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: beige;
    height: 50px;
    width: 100%;
    align-items: center;
}

header h1 {
    width: 20%;
}

header nav {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    margin-right: 40px;
}

header nav .nav__menu {
    display: flex;
    flex-direction: row;
}

header nav .nav__menu div {
    margin: 0 10px;
}

header nav .nav__menu div a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header nav .nav__menu div a:active, a:hover {
    color:white;
    background-color: dimgrey;
    transition: .5s;
}

.nav__toggle svg {
    width: 2rem;
    fill: var(--white);
    float: right;
    cursor: pointer;
    display: none;
}

#nav__checkbox {
    display: none;
}

body {
    position: relative;
    padding-bottom: 12em;
    min-height: 100vh;
    overflow-x: hidden;
}

.section--figuras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section--figuras__cuadrado {
    background-color: #9BCFDA;
    padding: 20px;
    margin: 30px;
    border-radius: 25px;
    margin: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section--figuras__cuadrado div h2 {
    margin-bottom: 20px;
}

.section--figuras__cuadrado div img {
    width: 150px;
    height: 150px;
}


.section--figuras__cuadrado form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    text-align: left;
}

.section--figuras__cuadrado form div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}

.section--figuras__cuadrado form label {
    margin: 5px 0;
    font-weight: bold;
    text-align: left;
}

.section--figuras__cuadrado form label span{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    padding-top: 1.7px;
    margin-left: -5px;
    padding-bottom: 3.8px;
    padding-right: 4px;
}

.section--figuras__cuadrado form input {
    padding: 4px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.section--figuras__cuadrado form button {
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer--text  h1{
    color: beige;
}

.footer--container {
    display: flex;
    flex-direction: row;
}

.footer--container__logos {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
}


@media (max-width: 1137px) {
    header nav .nav__menu div {
        margin: 0 ;
    }

    header nav .nav__menu div a {
        font-size: 14px;
    }

}

@media (max-width: 858px) {

    header h1 {
        margin-left: 20px;
    }

    header nav label {
        margin-right: 10px;
    }

    header nav .nav__menu div a {
        font-size: 14px;
    }

    .nav__toggle svg {
        display: block;
    }

    header nav .nav__menu {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -1000px;
        text-align: center;
        transition: all .5s;
        background-color: black;

    }

    header nav .nav__menu div {
        margin: 20px 0;
        text-align: left;
    }

    header nav .nav__menu div a {
        font-size: 20px;
    }

    header nav .nav__menu div:hover {
        background-color: #9BCFDA;
        color: red;
    }

    #nav__checkbox:checked ~ #menu  {
        left: 0;
    }

    header nav {
        margin-right: 0px;
    }
}